#hersey {
            width: 410px;
            min-height: 500px;
            border: 2px solid red;
            margin: auto;
        }
        #baslik {
            text-align: center;
            font-size: 21px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        #foto {
            margin: auto;
            background-image: url(para.jpg);
            width: 400px;
            height: 200px;
            border: 2px solid black;
        }
        #aciklama{
            margin: auto;
            max-width: 400px;
            font-size: 20px;

        }
        .secenek{
            cursor: pointer;
            max-width: 365px;
            min-height: 45px;
            margin: auto;
            background-color: rgb(124, 212, 83);
            border: 1px solid black;
            border-radius: 10px;
            text-align: left;
            font-size: 20px;
            line-height: 45px;
            padding: 5px;
        }
        #credit{
            font-size: 10px;
            text-align: center;
        }
        #sonuc {
            width: 0px;
            height:0px;
        }